# -*- mode: gitignore; -*-
.cache
.lsp-session-v1
.mc-lists.el
amx-items
smex-items
ido.last
tramp
package-quickstart.el
tutorial/
elpa/
eln-cache/
url/
eshell/history
eshell/lastdir
devdocs/
saveplace
bookmarks
savehist
projects
recentf
*.elc
*.el~
eaf/
auto-save-list/
transient/
site-lisp/
elisp/
straight/
elpaca/
tree-sitter/
org-roam.db
.org-id-locations
